{% extends 'base.html.twig' %}

{% block title %}Modifier l'Utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}">
{% endblock %}

{% block body %}
    {% from 'components/_form_layout.html.twig' import form_container %}
    
    {% set form_content %}
        {{ form_start(form, {'attr': {'class': 'needs-validation user-form'}}) }}
            <div class="form-section">
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        {{ form_row(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}}) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.roles, 'Rôles', {'label_attr': {'class': 'form-label'}}) }}
                            <div class="border rounded p-3">
                                {% for role in form.roles %}
                                    <div class="form-check mb-2">
                                        {% if role.vars.value != 'ROLE_USER' %}
                                            {{ form_widget(role, {'attr': {'class': 'form-check-input'}}) }}
                                            {{ form_label(role, null, {
                                                'label_attr': {
                                                    'class': 'form-check-label'
                                                }
                                            }) }}
                                        {% else %}
                                            {{ form_widget(role, {'attr': {'class': 'form-check-input', 'disabled': 'disabled', 'checked': 'checked'}}) }}
                                            {{ form_label(role, null, {
                                                'label_attr': {
                                                    'class': 'form-check-label text-muted'
                                                }
                                            }) }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            {{ form_errors(form.roles) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-section mt-4">
                <fieldset class="form-group address-section">
                    <legend><i class="fas fa-map-marker-alt"></i> Adresse</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.address.address, 'Rue', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.address.address, {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Numéro et nom de rue'
                                    }
                                }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.address.code_postal, 'Code Postal', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.address.code_postal, {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Code postal'
                                    }
                                }) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.address.city, 'Ville', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.address.city, {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Ville'
                                    }
                                }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.address.country, 'Pays', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.address.country, {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Pays'
                                    }
                                }) }}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="mt-4 row">
                <div class="col-6">
                    <a href="{{ path('app_admin_users') }}" class="btn btn-secondary w-100">
                        <i class="fas fa-arrow-left"></i> Retour
                    </a>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="fas fa-save"></i> Enregistrer
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    {% endset %}

    {{ form_container('Modifier l\'utilisateur', form_content) }}
{% endblock %}
