{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}">
{% endblock %}

{% block body %}
    {% from 'components/_form_layout.html.twig' import form_container %}
    
    {% set form_content %}
        {{ form_start(form, {'attr': {'class': 'needs-validation category-form'}}) }}
            <div class="form-section">
                <div class="row mb-4">
                    <div class="col-12">
                        {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Saisissez le nom de la catégorie'}}) }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description de la catégorie', 'rows': '4'}}) }}
                    </div>
                </div>
            </div>

            <div class="form-section mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="media-upload-section">
                            {% if category.media %}
                                <div class="current-image mt-3">
                                    <img src="{{ asset('uploads/media/' ~ category.media.path) }}" 
                                         alt="{{ category.media.alt }}" 
                                         class="img-thumbnail" 
                                         style="max-height: 200px">
                                </div>
                            {% endif %}
                            {{ form_row(form.media_file, {
                                'label': category.media ? 'Changer l\'image' : 'Ajouter une image',
                                'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4 row">
                <div class="col-6">
                    <a href="{{ path('app_admin_categories') }}" class="btn btn-secondary w-100">
                        <i class="fas fa-arrow-left"></i> Retour
                    </a>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="fas fa-save"></i> Créer
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    {% endset %}

    {{ form_container('Nouvelle catégorie', form_content) }}
{% endblock %}
